*, *:before, *:after {
    box-sizing: border-box;
    font-family: font-family: "Open Sans";
}
body{
    background-color: #eceef1;
}

.form-title, .sign-up-form{
    min-width: 450px;
    border: 1px solid #eceef1;
    border-radius: 5px;
    overflow: hidden;
    width: 33.33%;
    align: center;
    margin: 0 auto;
}

.form-header{
    text-align: center;    
    width: 80%;
    margin: 0 auto;
}

.form-header p{
    font-size: 16px;
}

.form-title{
    text-align: center;
}

.sign-up-form{
    background-color: #eceef1;;
    border: solid 1px grey;
}

.sign-up-form .input{
    width: 80%;
    border-radius: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.sign-up-form input{
    border-radius: 1px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 10px 20px;
}

.sign-up-form label{
    display: block;
    color: #000;
    font-style: bold;
    font-size: 16px;
    float: center;
    margin: 10px 0 0 20px;
}
#logo {
  width: 100%;
  max-width: 220px;
  padding: 0;
}
#logoicons{
  display: block;
  width: 100%;
  padding: 0;
}
.sign-up-form button{
    background: linear-gradient (#49708f, #293f50);
    cursor: pointer;
    font-weight: bold;
    float: center;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #0077C5;
    color: #fff;
}
