*, *:before, *:after {
    box-sizing: border-box;
}

nav{
    text-align: right;
    font-size: 14px;
}

.fa { font-family: 'FontAwesome' !important; }

.nav-text{
    display: inline-block;
}

.sign-in-button{
    border: 1px solid #4c4c4c;
    color: white;
    background-color: #0077C5;
    border-radius: 4px;
    cursor: pointer;
    height: 44px;
    width: 120px;
    padding: 10px 10px;
    position: relative;
    bottom: 15px;
}

.sign-in-button i{
    margin-right: 10px;
}

body{
    font-family: "Open Sans";
    background-color: #eceef1;
    font-family: sans-serif;
}

.form-title, .sign-up-form{
    min-width: 450px;
    border: 1px solid #eceef1;
    border-radius: 5px;
    overflow: hidden;
    width: 33.33%;
    align: center;
    margin: 0 auto;
}

.formheader{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.form-header p{
    font-size: 16px;
}

.form-title{
    text-align: center;
}

.sign-up-form{
    background-color: white;
    border: solid 1px grey;
}

.sign-up-form .input{
    width: 80%;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.input h6{
    margin-top: 5px;
}


.sign-up-form input{
    border-radius: 4px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 10px 20px;
}

.sign-up-form label{
    display: block;
    color: #000;
    font-style: bold;
    font-size: 16px;
    float: center;
    margin: 10px 0 0 20px;
    margin-left: 0;
    margin-bottom: 10px;
}
#logo {
  width: 100%;
  max-width: 220px;
  padding: 0;
}
#logoicons{
  display: block;
  width: 100%;
  padding: 0;
}
.sign-up-form button{
    border-radius: 3px;
    border: none;
    border-bottom: solid 1px black;
    cursor: pointer;
    float: center;
    width: 100%;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #0077C5;
    font-size: 16px;
    color: #fff;
}

.sign-up-form button i{
    margin-right: 5px;
}

.formbottom{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

footer{
    text-align: center;
}