*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  text-align: right;
  font-size: 14px;
}

.sign-in-button {
  border: 1px solid #4c4c4c;
  color: white;
  background-color: #0077c5;
  border-radius: 4px;
  cursor: pointer;
  height: 44px;
  width: 120px;
  padding: 10px 10px;
  position: relative;
  bottom: 15px;
}

.sign-in-button i {
  margin-right: 10px;
}

body {
  background-color: #eceef1;
  font-family: sans-serif;
}

.form-title,
.sign-up-form {
  min-width: 450px;
  border: 1px solid #eceef1;
  border-radius: 5px;
  overflow: hidden;
  width: 33.33%;
  margin: 0 auto;
}

.formheader {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.form-header p {
  font-size: 16px;
}

.form-title {
  text-align: center;
}

.sign-up-form {
  background-color: white;
  border: solid 1px grey;
}

.sign-up-form .input {
  width: 80%;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.input h6 {
  margin-top: 5px;
}

.sign-up-form input {
  border-radius: 4px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 10px 20px;
}

.sign-up-form label {
  display: block;
  color: #000;
  font-size: 16px;
  margin: 10px 0 0 20px;
  margin-left: 0;
  margin-bottom: 10px;
}

.logoicon {
  display: block;
  width: 100%;
  padding: 0;
  max-width: 220px;
  margin: 0 auto;
}

.logoicons-container {
  display: inline-block;
  color: grey;
}

.logoicons-container span{
  position: relative;
  bottom: 10px;
}

.logoicons {
  width: 32px;
  height: 32px;
}

.sign-up-form button {
  border: none;
  border-bottom: solid 1px black;
  cursor: pointer;
  width: 100%;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #0077c5;
  font-size: 16px;
  color: #fff;
}

.sign-up-form button i {
  margin-right: 5px;
}

.formbottom {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.recaptcha {
  text-align: center;
  background-color: #eceef1;
  padding: 10px 10px;
}

footer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
